<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DIGIMON RECOMMENDATION</title>
    <style>
        body {
            background : url(https://images3.alphacoders.com/695/695497.png);
            background-size : 1280px 720px
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <center>
        <br>
        <br>
        <img src="https://i.redd.it/lti6z5yqm8h31.png"
        width="400" height="200"
        >
        <br>
        <br>
        <form action="http://127.0.0.1:5000/hasil" method="POST">
            <input type="text" name="find" placeholder="Digimon favoritku..."/>
            <br>
            <br>
            <input type="submit" value="Submit" class="btn btn-danger"/>
        </form>
    </center>
</body>

</html>